body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background-page);
    margin: 20px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    background-color: var(--color-background-header);
    color: var(--color-text-first-heading);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

h2 {
    display: inline-block;
    background-color: var(--color-background-card);
    color: var(--color-text-second-heading);
    margin-top: 20px;
    border-radius: 8px;
}

p {
    color: var(--color-text);
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}