:root {
  --color-accent: Purple;
  --color-text-first-heading: gold;

  --color-background-header: purple;
  --color-background-page: white;
  --color-background-card: gold;

  --color-text: black;
  --color-text-second-heading: Purple;
  --color-text-inverted: #E6E6FA;
}